<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:component-scan base-package="com.hnguigu.springmvc"/>


    <mvc:annotation-driven/>

    <mvc:default-servlet-handler/>


    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="maxUploadSizePerFile" value="2097152"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>

            <!--
                排除掉/users/login这个地址的拦截（/users/login这个请求是不会执行下面的拦截器）
            -->
            <mvc:exclude-mapping path="/users/login"/>
            <bean class="com.hnguigu.springmvc.interceptor.AuthenticateInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


    <!--<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>

            <bean class="com.hnguigu.springmvc.interceptor.DemoInterceptor1"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.hnguigu.springmvc.interceptor.DemoInterceptor2"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.hnguigu.springmvc.interceptor.DemoInterceptor3"/>
        </mvc:interceptor>
    </mvc:interceptors>-->


</beans>